<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<header>
<h1 style="font-size:60px;">Tiny App</h1>
<h5><p style="color:blue;">Create A New Tiny App</p></h5>
<body style="background-color:lightgrey;">
</header>